#school-selection-fields { margin-bottom: .357em; }
#school-selection-fields legend { display: block; width: 25%; float: left; padding: .35em 5px 0 0; font-size: 1em; }
#school-selection-fields label { position: absolute !important; clip: rect(1px 1px 1px 1px); /* IE6, IE7 */ clip: rect(1px, 1px, 1px, 1px); }
#school-selection-fields li { margin-bottom: .25em !important; }
#school-selection-fields p.inline-hints { clear: both; padding-left: 0 !important; }
.schools-found #school-selection-fields p.inline-hints { display: none; }

#school-select-zipcode { width: 45px !important; min-width: 0 !important; margin-right: 5px; }

#school-select-zipcode-input, #school-id-input { float: left; width: auto; }

#main form #school-id-input p.inline-errors { padding: 0; margin: 3px 0 0; }

#school-id { width: 200px; }

#new-school { float: left; width: 72%; margin: 0; padding: 0 0 0 25%; }
#new-school .inline-hints { padding-left: 0 !important; margin: 0 !important; }

#new-school-form { display: none; background: #EFF4FF; border: 1px solid #A5B9C8; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; padding: 1.07em 15px; width: 375px; }
#new-school-form #alert-message { position: static; width: auto; }
.ie7 #new-school-form { width: 400px; }
#main form #new-school-form p.inline-errors { margin: 3px 0 0 100px; }
#new-school-form .blockOverlay { background: #EFF4FF; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; -ms-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; }
#new-school-form .blockMsg { border: 1px solid #aaa; -moz-box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 5px; -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 5px; -o-box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 5px; box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 5px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; padding: 5px 10px 3px; color: #444; background: #fff; line-height: 1em; }
.ie7 #new-school-form .blockMsg .text { position: relative; top: -3px; }
#new-school-form .blockMsg .icon-loading { background: url('/images/scidea/icons/loading_barber_shop_pole.gif') 50% 40% no-repeat; width: 220px; display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; height: 0px; padding: 20px 0 0; margin-left: 5px; }
#new-school-form .blockMsg .icon-loading { *display: inline; }
.adding-school #new-school-form, .editing-school #new-school-form { display: block; }
#new-school-form ol { padding: 0 !important; margin-bottom: 0 !important; }
#new-school-form li { margin-bottom: .714em; }
#new-school-form input[type="text"] { background: #fff !important; border-color: #ccc; }
#new-school-form label { width: 100px; }
#new-school-form .buttons { padding-left: 105px !important; margin-bottom: 0 !important; }

#school_submit { margin-right: 10px; }

.schools-found #add-school { display: block; }
#add-school, .adding-school #add-school, .new-school-exists #add-school { display: none; }

.new-school-exists #edit-school { display: block; }
#edit-school, .editing-school #edit-school, .schools-not-found #edit-school { display: none; }

.schools-not-found #schools-not-found-message { display: block; }
#schools-not-found-message, .adding-school #schools-not-found-message { display: none; }

.new-school-exists a[href="#add-new-school"] { display: none; }

a[href="#select-new-school"] { display: none; }
.new-school-exists a[href="#select-new-school"] { display: inline; }

#schools-initial-message { display: block; }
.schools-not-found #schools-initial-message { display: none; }
